head,body,header,footer,h1,h2,h3,h5,a,img,p,div,span,ul,tr,th,td{
  padding: 0;
  margin: 0;
}
body{
  font-size: 100%;
}
/*以下ソースで、各種デバイスで高さが綺麗になる。*/
html,body,header{
  height: 100%;
  text-align: center;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

/*pはブロック要素のため以下で自動折り返し*/
p,h1{
  word-break: break-all;
}
/*下記で下線部を消す*/
a,{
  text-decoration: none;
}
a:link, :visited {
  text-decoration: none;
}
li{
  list-style: none;
}
@font-face{
  font-family: "Sawarabi Mincho";
  src : url(https://fonts.googleapis.com/css?family=Sawarabi+Mincho);
}

body{
  background-image: url(./img/shinpe.jpg);
  background-attachment: fixed;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-family: 'Lora', serif;
}
header{
  z-index: 1000;
}
.side-bar span {
  display: block;
  transition: all .4s;
  box-sizing: border-box;
}
.side-bar {
  float: right;
  position: relative;
  width: 50px;
  height: 100px;
  cursor: pointer;
  right: 20px;
}
.side-bar span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
}
.side-bar span:nth-of-type(1) {
  top: 30px;
}
.side-bar span:nth-of-type(2) {
  top: 48px;
}
.side-bar span:nth-of-type(3) {
  bottom: 30px;
}


#fifi{
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #02232F;
}

#nav-drawer {
  position: relative;
}
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*アイコンのスペース*/
#nav-open {
  display: block;
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;/*最前面に*/
  width: 100%;/*右側に隙間を作る*/
  max-width: 200px;/*最大幅*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(105%);
  transform: translateX(105%);/*左に隠しておく*/
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .7;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示*/
}
#nav-content a{
  display: block;
  color: black;
  margin: 0 auto 5vh;
  position: relative;
  width: 50%;
  font-size: 20px;
}
#nav-content a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #61C5FF;
  transform: scale(0, 1);
  transform-origin: left top;
  transition:.3s;
}
#nav-content a:hover::after {
  transform: scale(1, 1);
}
#nav-content h1{
  padding: 10vh 0;
}
.menu img{
  width: 100px;
}
.menu{
  float: left;
}

.scroll_top{
  width: 40px;
  height: 40px;
  border: 8px #ff0000 solid;
  border-top: none;
  border-left: none;
  display: none;
  position: fixed;
  z-index: 1000;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  bottom: 5px;
  right:25px;
  z-index: 1000;
}



.top {
  height: 100%;
}
.logo{
   position: absolute;
   right: 0;
}
.top-main{
  text-align: left;
  position: absolute;
  font-size: 5vw;
  left: 10%;
  top: 30%;
  white-space: pre;
}
/* .top-main_2{
  background: linear-gradient(transparent 60%, #ffff66 60%);
  position: absolute;
  font-size: 5vw;
  left: 10%;
  top: 45%;
} */



.contents-img{
  position: absolute;
  left: 8%;
}
.up {
  transform: translate(0, 100px);
}
.sa {
  opacity: 0;
  transition: all 1.0s ease;
}
.sa.show {
  opacity: 1;
  transform: none;
}

.backc_a{
  background-color: rgba(161, 228, 255,0.5);
}
.backc_b{
  background-color: rgba(162, 192, 252,0.5);
}



.margin-left{
  margin-left: 5vw;
}
.top-sub{
  position: absolute;
  font-size: 1.5vw;
  bottom: 20%;
  left: 5%;
}
.blue{
  color: #29729B;
}
.top-kaisha{
  font-weight: normal;
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: 1.5vw;
}
.scroll{
  position: absolute;
  top: 85%;
  right: 50%;
}




.main{
    padding: 0 10vw;
}






.question{
  margin-top: 40vh;
  text-align: left;
}
.question img {
  position: absolute;
  right: 10%;
}
.question h1 {
  position: relative;
  font-size: 2.5vw;
}
.question h2{
  font-size: 4.5vw;
  margin-top: 15vh;
  margin-bottom: 5vh;
  width: 70%;
}
.question-sub{
  padding-left: 2.5vw;
  font-size: 2vw;
}
h3{
  position: relative;
}
.question h3{
  padding: 2vh 0;
}
h3::after {
  display: block;
  content: '';
  position: absolute;
  top: .5em;
  left: -1em;
  width: 20px;
  height: 10px;
  border-left: 2px solid #29729B;
  border-bottom: 2px solid #29729B;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}





.papa{
background: linear-gradient(transparent 60%, rgba(41, 114, 155,0.5) 60%);
}
.saikou{
  display: block;
  color: black;
  position: relative;
  width: 100%;
  font-size: 20px;
}
.saikou ::after {
  position: absolute;
  bottom: 10px;
  left: 0;
  content: '';
  width: 100%;
  height: 10px;
  background: rgba(41, 114, 155,0.5);
  transform: scale(0, 1);
  transform-origin: left top;
  transition:.3s;
}

.taken ::after{
  transform: scale(1, 1);
  transition: all 1.0s ease;
}





.merit{
  margin-top: 30vh;
}
.merit h1{
  position: relative;
  font-size: 3.5vw;
  margin-bottom: 15vh;
  padding-top: 7vw;
}
.merit-contents{
  position: relative;
  text-align: left;
  margin-bottom: 20vh;
}
.merit-contents img{
  position: absolute;
  display: block;
  z-index: 10;
}
.ll{
  padding-right: 40%;
}
.rr{
  padding-left: 40%;
}
.ll img {
  right: 10%;
}
.rr img{
  left: 10%;
}
.merit-contents h2{
  font-size: 2.5vw;
  margin-bottom: 1vw;
}
.merit-contents p{
  font-size: 2vw;
}








.marketprice{
  margin-top: 30vh;
}
.marketprice h1{
  font-size: 2.8vw;
}
.marketprice h2{
  text-align: left;
}
.sannkou{
  width: 100%;
}
.sannkou img{
  width: 100%;
}
.big{
  font-size: 3vw;
}
.bigger{
  font-size: 2.5vw;
}






.plan{
  margin-top: 30vh;
}
.plan h1{
  font-size: 3.5vw;
  margin-bottom: 10vh;
  padding-top: 7vw;
}
.plans{
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.plan-contents {
  border: 2px #02232F solid;
  display: table-cell;
}
.bborder{
  border-bottom: 2px #02232F solid;
  font-size: 2.5vw;
}
.rrnone{
  border-right: none;
}
.llnone{
  border-left: none;
}
.bbnone{
  border-bottom: none;
}
.lili{
  font-size: 2vw;
}
.plans li{
  padding: 0.5vw 0;
}





.flow{
  margin-top: 30vh;
}

.flow h1{
  padding-top: 7vw;
  font-size: 3.5vw;
}
.flows{
  background-image: url(./img/yazirushi.png);
  background-position: left;
  background-repeat: no-repeat;
}
.flows-table{
  margin: 0 auto;
  border: 2px #02232F solid;
  text-align: left;
  border-spacing: inherit;
  width: 70%;
}
.bbottom{
  border-bottom: 2px #02232F solid;
}
.flows th{
  border-right: 2px #02232F solid;
  width: 50%;
}
.flows-table th{
  font-size: 3vw;
  padding: 10px 0;
}
.flows-table td{
  font-size: 3vw;
  text-align: center;
}







.contact{
  margin-top: 30vh;
}
.contact h1{
  font-size: 3.5vw;
  padding-top: 8vw;
}
.contact h2{
  font-size: 2vw;
  margin-bottom: 10vh;
}
.contacts{
  text-align: left;
}
.contacts-table{
  margin: 0 auto;
}
.section{
  display: inline-block;
  float: left;
}
.last{
  display: block;
  margin: 0 auto;
}
.contacts-table th{
  font-size: 2vw;
}
/* .contact-iphone{
  display: none;
} */






footer{
  margin-top: 20vh;
  background-color: #000000;
  border-top: 5px solid#000000;
  color: #000000;
}
footer a{
  padding-top: 50px;
  display: block;
  text-align: center;
  color: #ffffff;
}
footer img{
  display: block;
  margin: 0 auto;
  width: 300px;
}










@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px) and (min-width: 600px){

}




@media screen and (max-width: 600px) and (min-width:480px){

}

@media screen and (max-width:480px){
  .scroll_top{
      display: inherit;
  }
  /* .contact{
    display: none;
  }
  .contact-iphone{
   display: inherit;
  } */

}
